body {
    padding-top: 100px;
    <% /*background-color: #BA8B02;
    background: #BA8B02; /* fallback for old browsers 
    background: -webkit-linear-gradient(to left, #BA8B02 , #181818); /* Chrome 10-25, Safari 5.1-6 
    background: linear-gradient(to left, #BA8B02 , #181818); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */%>
    background-image: url('/abc.jpg');
}

.form-container {
    width: 400px;
    margin: auto;
}

.credits {
    border-top: 1px solid #ddd;
    margin-top: 40px;
    padding-top: 20px;
}

