<div class="main_container" ng-controller="EdgeCtrl">
	<div ng-include="'views/data_file.html'"></div>
	<div class="sample">
		<table class="table">
            <thead>
            	<tr>
                	<th>Id</th>
                    <th>Node 1</th>
                    <th>Node 2</th>
                    <th>Flow</th>
                    <th>Add/Remove</th>
                    <th>Update/Edit</th>
                </tr>
            </thead>
            <tbody>
            	<form name="form_addEdge">
                	<tr>
                    	<td><input class="form-control" ng-model="edge.edgeId" required="true"></input></td>
                        <td><input class="form-control" ng-model="edge.node1" required="true"></input></td>
                        <td><input class="form-control" ng-model="edge.node2" required></input></td>
                        <td><input class="form-control" ng-model="edge.flow"></input></td>
                        <td><button class="btn btn-primary" ng-click="addEdge()">Add Edge</button></td>
                        <td><button class="btn btn-info" ng-click="update()">Update</button>&nbsp;&nbsp;<button class="btn btn-info" ng-click="deselect()">Clear</button></td>
                    </tr>
                </form>
                <tr ng-repeat="edge in edgelist">
                	<td>{{edge.edgeId}}</td>
                    <td>{{edge.node1}}</td>
                    <td>{{edge.node2}}</td>
                    <td>{{edge.flow}}</td>
                    <td><button class="btn btn-danger" ng-click="remove(edge.edgeId)">Remove</button></td>
                    <td><button class="btn btn-warning" ng-click="edit(edge.edgeId)">Edit</button></td>
                </tr>
            </tbody>
    	</table>
    </div>
</div>